<div class="container">
      <nav class="navbar fixed-bottom navbar-dark bg-dark text-white">
        <p>&copy;CopyRight - Veysel Boybay - 2021</p>
      </nav>  
    </div>




    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>